# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/

# Virtual environment
venv/
env/
.env

# IDE
.vscode/
.idea/

# OS
Thumbs.db
Desktop.ini
.DS_Store

# Django
*.log
staticfiles/
media/

# Gemini
.gemini/
